

{% extends "base.html" %}

{% block content %}


        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Trained Models</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Label Names</th>
                                        <th>Image Counts</th>
                                        <th>Final Accuracy</th>
                                    </tr>
                                </thead>
                                <tbody>

                                       {% for model in model_list %}


                                       <tr>
                                        <td class="cart_product_img">
                                            <a href="product-details.html/{{ model.model_id }}"><img src={{ model.thumbnail_image }}></a>
                                        </td>
                                        <td class="cart_product_desc">

                                                 {% for label in model.label_names %}

                                                       <br> {{ label }}

                                                 {% endfor %}

                                        </td>
                                        <td class="price">

                                              {% for count in model.image_counts_for_labels %}

                                                        <br> <span>{{ count }}</span>

                                                 {% endfor %}


                                        </td>
                                        <td class="qty">


                                            {{ model.final_accuracy }}

                                            <!--<div class="qty-btn d-flex">-->
                                                <!--<p>Qty</p>-->
                                                <!--<div class="quantity">-->
                                                    <!--<span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value&#45;&#45;;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>-->
                                                    <!--<input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">-->
                                                    <!--<span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        </td>
                                    </tr>



                                        {% endfor %}



                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
            </div>
        </div>






{% endblock %}





