

{% extends "base.html" %}

{% block content %}

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url( {{model_details["downloadable_plot_link"][0]}} );">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{image_thumbnails[0]}});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({{image_thumbnails[1]}});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({{image_thumbnails[2]}});">
                                    </li>

                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href={{model_details["downloadable_plot_link"][0]}}>
                                            <img class="d-block w-100" src={{model_details["downloadable_plot_link"][0]}} alt="First slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{image_thumbnails[0]}}">
                                            <img class="d-block w-100" src="{{image_thumbnails[0]}}" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{image_thumbnails[1]}}">
                                            <img class="d-block w-100" src="{{image_thumbnails[1]}}" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{image_thumbnails[2]}}">
                                            <img class="d-block w-100" src="{{image_thumbnails[2]}}" alt="Fourth slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">Free</p>
                                <a href="product-details.html">
                                    <h6>Baseline Model</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a href="#">Write A Review</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <h5>Summary: </h5>
                                <p>{{model_details["note"][0]}}</p>
                                <br>
                                <table style="width:100%">
                                  <tr>
                                    <th>Results </th>
                                    <th colspan="1">Scores</th>
                                  </tr>
                                  <tr>
                                    <td>Final Accuracy</td>
                                    <td>{{model_details["final_accuracy"][0]}}</td>
                                  </tr>
                                    <tr>
                                    <td>Final Validation Accuracy</td>
                                    <td>{{model_details["final_validation_accuracy"][0]}}</td>
                                  </tr>
                                    <tr>
                                    <td>Final Loss</td>
                                    <td>{{model_details["final_loss"][0]}}</td>
                                  </tr>
                                    </tr>
                                    <tr>
                                    <td>Final Validation Loss</td>
                                    <td>{{model_details["final_validation_loss"][0]}}</td>
                                  </tr>
                                </table>

                                    <br/>
                                     <table style="width:100%">
                                  <tr>
                                    <th>Labels </th>
                                    <th colspan="1">Image Counts</th>
                                  </tr>
                                    {% for value in model_details["label_names"][0] %}
                                  <tr>
                                    <td>{{ value }}</td>
                                    <td>{{  model_details["image_counts_for_labels"][0][loop.index0] }}</td>
                                  </tr>
                                    {% endfor %}

                                </table>

                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">

                                    <a href={{model_details["downloadable_model_link"][0]}}>
                                     <h5>Download</h5>
                                    </a>

                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->

{% endblock %}
